/* You can add global styles to this file, and also import other style files */
@import "bulma/css/bulma.css";

.container{
    border: 1px solid black;
    width: 500px;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

h1, h2{
    font-weight: 6rem;
    margin: 20px 0 ;
}

input{
    padding: 5px 20px;
    width: 100%;
    outline: none;
}

.correct{
    color: green;
}

.incorrect{
    color: red;
    font-weight: bold;
}

.pending{
    color: black;
}